In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [22]:
print(df.head(5))

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura  Integra    Small       12.9   15.9       18.8      25.0
1          NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2         Audi       90  Compact       25.9   29.1       32.3      20.0
3         Audi      100  Midsize        NaN   37.7       44.6      19.0
4          BMW     535i  Midsize        NaN   30.0        NaN      22.0

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0         31.0                None      Front  ...        5.0   177.0
1         25.0  Driver & Passenger      Front  ...        5.0   195.0
2         26.0         Driver only      Front  ...        5.0   180.0
3         26.0  Driver & Passenger        NaN  ...        6.0   193.0
4         30.0                 NaN       Rear  ...        4.0   186.0

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0      102.0   68.0         37.0           26.5           NaN  2705.0
1      115.0   71.0         38.0           30.0          15.0  3560.0
2      102.0   67.0         37.0           28.0          14.0  3375.0
3      106.0    NaN         37.0           31.0          17.0  3405.0
4      109.0   69.0         39.0           27.0          13.0  3640.0

    Origin           Make
0  non-USA  Acura Integra
1  non-USA   Acura Legend
2  non-USA        Audi 90
3  non-USA       Audi 100
4  non-USA       BMW 535i

[5 rows x 27 columns]

In [23]:
print(df.tail(5))

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[5 rows x 27 columns]

In [24]:
print(df.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [79]:
print(df['Max.Price'])

0     18.8
1     38.7
2     32.3
3     44.6
4      NaN
      ...
88    22.7
89    22.4
90    23.7
91    23.5
92    28.5
Name: Max.Price, Length: 93, dtype: float64

In [80]:
print(df.iloc[1])

Manufacturer                         NaN
Model                             Legend
Type                             Midsize
Min.Price                           29.2
Price                               33.9
Max.Price                           38.7
MPG.city                              18
MPG.highway                           25
AirBags               Driver & Passenger
DriveTrain                         Front
Cylinders                              6
EngineSize                           3.2
Horsepower                           200
RPM                                 5500
Rev.per.mile                        2335
Man.trans.avail                      Yes
Fuel.tank.capacity                    18
Passengers                             5
Length                               195
Wheelbase                            115
Width                                 71
Turn.circle                           38
Rear.seat.room                        30
Luggage.room                          15
Weight                              3560
Origin                           non-USA
Make                        Acura Legend
Name: 1, dtype: object

In [81]:
df.head(5)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [82]:

df.groupby(['Model']).count()['Price']

Model
100         1
190E        1
240         1
300E        1
323         1
           ..
Taurus      1
Tempo       1
Tercel      1
Town_Car    1
Vision      1
Name: Price, Length: 92, dtype: int64

In [92]:
print(df['Min.Price'])
print(df['Min.Price'].isnull())

0     12.9
1     29.2
2     25.9
3      NaN
4      NaN
      ...
88    16.6
89    17.6
90    22.9
91    21.8
92    24.8
Name: Min.Price, Length: 93, dtype: float64
0     False
1     False
2     False
3      True
4      True
      ...
88    False
89    False
90    False
91    False
92    False
Name: Min.Price, Length: 93, dtype: bool

In [97]:
print(df.isnull().sum())

Manufacturer           4
Model                  1
Type                   3
Min.Price             93
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [11]:

car_Manufacturers = df.groupby('Manufacturer')
priceDf = car_Manufacturers['Manufacturer','Price'].max().sort_values('Price', ascending=False)
priceDf

                Manufacturer  Price
Manufacturer
Mercedes-Benz  Mercedes-Benz   61.9
Infiniti            Infiniti   47.9
Cadillac            Cadillac   40.1
Chevrolet          Chevrolet   38.0
Audi                    Audi   37.7
Lincoln              Lincoln   36.1
Mazda                  Mazda   32.5
BMW                      BMW   30.0
Chrysler            Chrysler   29.5
Saab                    Saab   28.7
Lexus                  Lexus   28.0
Buick                  Buick   26.3
Mitsubishi        Mitsubishi   26.1
Dodge                  Dodge   25.8
Pontiac              Pontiac   24.4
Volkswagen        Volkswagen   23.3
Toyota                Toyota   22.7
Volvo                  Volvo   22.7
Nissan                Nissan   21.5
Ford                    Ford   20.9
Oldsmobile        Oldsmobile   20.7
Honda                  Honda   19.8
Subaru                Subaru   19.5
Eagle                  Eagle   19.3
Acura                  Acura   15.9
Mercury              Mercury   14.9
Plymouth            Plymouth   14.4
Hyundai              Hyundai   13.9
Geo                      Geo   12.5
Suzuki                Suzuki    8.6
Saturn                Saturn    NaN

In [111]:
df.describe()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,0.0,91.000000,88.000000,84.000000,91.000000,91.000000,86.000000,90.000000,87.000000,85.000000,91.000000,89.000000,92.000000,87.000000,88.000000,89.000000,74.000000,86.000000
mean,NaN,19.616484,21.459091,22.404762,29.065934,2.658242,144.000000,5276.666667,2355.000000,16.683529,5.076923,182.865169,103.956522,69.448276,38.954545,27.853933,13.986486,3104.593023
std,NaN,9.724280,10.696563,5.841520,5.370293,1.045845,53.455204,605.554811,486.916616,3.375748,1.045953,14.792651,6.856317,3.778023,3.304157,3.018129,3.120824,600.129993
min,NaN,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,NaN,12.350000,14.575000,18.000000,26.000000,1.800000,100.750000,4800.000000,2017.500000,14.500000,4.000000,174.000000,98.000000,67.000000,36.000000,26.000000,12.000000,2647.500000
50%,NaN,17.700000,19.150000,21.000000,28.000000,2.300000,140.000000,5200.000000,2360.000000,16.500000,5.000000,181.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3085.000000
75%,NaN,23.500000,24.825000,25.000000,31.000000,3.250000,170.000000,5787.500000,2565.000000,19.000000,6.000000,192.000000,110.000000,72.000000,42.000000,30.000000,16.000000,3567.500000
max,NaN,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [112]:
df.mean()

Min.Price                     NaN
Price                   19.616484
Max.Price               21.459091
MPG.city                22.404762
MPG.highway             29.065934
EngineSize               2.658242
Horsepower             144.000000
RPM                   5276.666667
Rev.per.mile          2355.000000
Fuel.tank.capacity      16.683529
Passengers               5.076923
Length                 182.865169
Wheelbase              103.956522
Width                   69.448276
Turn.circle             38.954545
Rear.seat.room          27.853933
Luggage.room            13.986486
Weight                3104.593023
dtype: float64

In [113]:
df.corr()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
Min.Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Price,NaN,1.000000,0.980252,-0.596479,-0.554859,0.607286,0.794607,-0.007644,-0.422175,0.604777,0.040890,0.564704,0.500840,0.432279,0.415628,0.366097,0.369545,0.642563
Max.Price,NaN,0.980252,1.000000,-0.537724,-0.503579,0.513480,0.724528,-0.017815,-0.356009,0.526891,0.049113,0.519279,0.435722,0.391288,0.335043,0.342768,0.318431,0.571150
MPG.city,NaN,-0.596479,-0.537724,1.000000,0.947916,-0.718253,-0.714274,0.385401,0.709801,-0.823445,-0.430377,-0.676105,-0.733983,-0.715643,-0.705238,-0.431462,-0.541337,-0.883119
MPG.highway,NaN,-0.554859,-0.503579,0.947916,1.000000,-0.625965,-0.643573,0.304078,0.591147,-0.785317,-0.467672,-0.538247,-0.644664,-0.611958,-0.599979,-0.363202,-0.360388,-0.832360
EngineSize,NaN,0.607286,0.513480,-0.718253,-0.625965,1.000000,0.731327,-0.543874,-0.807026,0.778117,0.376861,0.790721,0.742088,0.862513,0.784953,0.518073,0.702213,0.845244
Horsepower,NaN,0.794607,0.724528,-0.714274,-0.643573,0.731327,1.000000,0.047369,-0.585919,0.741343,-0.039870,0.552906,0.483922,0.646497,0.596148,0.247775,0.382684,0.777764
RPM,NaN,-0.007644,-0.017815,0.385401,0.304078,-0.543874,0.047369,1.000000,0.462331,-0.355515,-0.462703,-0.443494,-0.468348,-0.546181,-0.512642,-0.338256,-0.540402,-0.452983
Rev.per.mile,NaN,-0.422175,-0.356009,0.709801,0.591147,-0.807026,-0.585919,0.462331,1.000000,-0.631850,-0.301065,-0.676693,-0.612762,-0.754254,-0.735520,-0.327909,-0.551099,-0.723885
Fuel.tank.capacity,NaN,0.604777,0.526891,-0.823445,-0.785317,0.778117,0.741343,-0.355515,-0.631850,1.000000,0.496566,0.700491,0.766788,0.810474,0.703818,0.537124,0.682485,0.905157
Passengers,NaN,0.040890,0.049113,-0.430377,-0.467672,0.376861,-0.039870,-0.462703,-0.301065,0.496566,1.000000,0.473748,0.702377,0.490657,0.447091,0.695034,0.668067,0.577401
Length,NaN,0.564704,0.519279,-0.676105,-0.538247,0.790721,0.552906,-0.443494,-0.676693,0.700491,0.473748,1.000000,0.827515,0.820668,0.749630,0.548242,0.716085,0.813305
Wheelbase,NaN,0.500840,0.435722,-0.733983,-0.644664,0.742088,0.483922,-0.468348,-0.612762,0.766788,0.702377,0.827515,1.000000,0.812743,0.730685,0.672578,0.744772,0.880048
Width,NaN,0.432279,0.391288,-0.715643,-0.611958,0.862513,0.646497,-0.546181,-0.754254,0.810474,0.490657,0.820668,0.812743,1.000000,0.817055,0.508985,0.691782,0.867648
Turn.circle,NaN,0.415628,0.335043,-0.705238,-0.599979,0.784953,0.596148,-0.512642,-0.735520,0.703818,0.447091,0.749630,0.730685,0.817055,1.000000,0.473812,0.600548,0.788220
Rear.seat.room,NaN,0.366097,0.342768,-0.431462,-0.363202,0.518073,0.247775,-0.338256,-0.327909,0.537124,0.695034,0.548242,0.672578,0.508985,0.473812,1.000000,0.668847,0.528075
Luggage.room,NaN,0.369545,0.318431,-0.541337,-0.360388,0.702213,0.382684,-0.540402,-0.551099,0.682485,0.668067,0.716085,0.744772,0.691782,0.600548,0.668847,1.000000,0.642564
Weight,NaN,0.642563,0.571150,-0.883119,-0.832360,0.845244,0.777764,-0.452983,-0.723885,0.905157,0.577401,0.813305,0.880048,0.867648,0.788220,0.528075,0.642564,1.000000

In [114]:
df.count()

Manufacturer          89
Model                 92
Type                  90
Min.Price              0
Price                 91
Max.Price             88
MPG.city              84
MPG.highway           91
AirBags               87
DriveTrain            86
Cylinders             88
EngineSize            91
Horsepower            86
RPM                   90
Rev.per.mile          87
Man.trans.avail       88
Fuel.tank.capacity    85
Passengers            91
Length                89
Wheelbase             92
Width                 87
Turn.circle           88
Rear.seat.room        89
Luggage.room          74
Weight                86
Origin                88
Make                  90
dtype: int64

In [115]:
df.max()

Min.Price                NaN
Price                   61.9
Max.Price               80.0
MPG.city                46.0
MPG.highway             50.0
EngineSize               5.7
Horsepower             300.0
RPM                   6500.0
Rev.per.mile          3755.0
Fuel.tank.capacity      27.0
Passengers               8.0
Length                 219.0
Wheelbase              119.0
Width                   78.0
Turn.circle             45.0
Rear.seat.room          36.0
Luggage.room            22.0
Weight                4105.0
dtype: float64

In [116]:
df.min()

Min.Price                NaN
Price                    7.4
Max.Price                7.9
MPG.city                15.0
MPG.highway             20.0
EngineSize               1.0
Horsepower              55.0
RPM                   3800.0
Rev.per.mile          1320.0
Fuel.tank.capacity       9.2
Passengers               2.0
Length                 141.0
Wheelbase               90.0
Width                   60.0
Turn.circle             32.0
Rear.seat.room          19.0
Luggage.room             6.0
Weight                1695.0
dtype: float64

In [117]:
df.median()

Min.Price                 NaN
Price                   17.70
Max.Price               19.15
MPG.city                21.00
MPG.highway             28.00
EngineSize               2.30
Horsepower             140.00
RPM                   5200.00
Rev.per.mile          2360.00
Fuel.tank.capacity      16.50
Passengers               5.00
Length                 181.00
Wheelbase              103.00
Width                   69.00
Turn.circle             39.00
Rear.seat.room          27.50
Luggage.room            14.00
Weight                3085.00
dtype: float64

In [118]:
df.std()

Min.Price                    NaN
Price                   9.724280
Max.Price              10.696563
MPG.city                5.841520
MPG.highway             5.370293
EngineSize              1.045845
Horsepower             53.455204
RPM                   605.554811
Rev.per.mile          486.916616
Fuel.tank.capacity      3.375748
Passengers              1.045953
Length                 14.792651
Wheelbase               6.856317
Width                   3.778023
Turn.circle             3.304157
Rear.seat.room          3.018129
Luggage.room            3.120824
Weight                600.129993
dtype: float64

In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [9]:
df[['Min.Price', 'Max.Price']].isnull()

    Min.Price  Max.Price
0       False      False
1       False      False
2       False      False
3        True      False
4        True       True
..        ...        ...
88      False      False
89      False      False
90      False      False
91      False      False
92      False      False

[93 rows x 2 columns]

In [10]:
df[['Min.Price', 'Max.Price']].isnull()  == df.mean()

,EngineSize,Fuel.tank.capacity,Horsepower,Length,Luggage.room,MPG.city,MPG.highway,Max.Price,Min.Price,Passengers,Price,RPM,Rear.seat.room,Rev.per.mile,Turn.circle,Weight,Wheelbase,Width
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
89,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
92,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:

car_Manufacturers = df.groupby('Manufacturer')
priceDf = car_Manufacturers['Manufacturer','Price'].max().sort_values('Price', ascending=True)
priceDf

                Manufacturer  Price
Manufacturer
Suzuki                Suzuki    8.6
Geo                      Geo   12.5
Hyundai              Hyundai   13.9
Plymouth            Plymouth   14.4
Mercury              Mercury   14.9
Acura                  Acura   15.9
Eagle                  Eagle   19.3
Subaru                Subaru   19.5
Honda                  Honda   19.8
Oldsmobile        Oldsmobile   20.7
Ford                    Ford   20.9
Nissan                Nissan   21.5
Toyota                Toyota   22.7
Volvo                  Volvo   22.7
Volkswagen        Volkswagen   23.3
Pontiac              Pontiac   24.4
Dodge                  Dodge   25.8
Mitsubishi        Mitsubishi   26.1
Buick                  Buick   26.3
Lexus                  Lexus   28.0
Saab                    Saab   28.7
Chrysler            Chrysler   29.5
BMW                      BMW   30.0
Mazda                  Mazda   32.5
Lincoln              Lincoln   36.1
Audi                    Audi   37.7
Chevrolet          Chevrolet   38.0
Cadillac            Cadillac   40.1
Infiniti            Infiniti   47.9
Mercedes-Benz  Mercedes-Benz   61.9
Saturn                Saturn    NaN